.mainHeroDiv {
    width: 375px;
    max-height: 670.4px;
    padding: 20px 0px 45px 0px;
    /* display: flex; */
    gap: 24px;
    background-color: #0F1014;
}

.heroText {
    /* border: 1px solid white; */
    width: 100%;
    max-width: 327px;
    height: auto;
    max-height: 165.4px;
    /* display: flex; */
    margin: auto;
    gap: 7.09px;
}

.heroText>p {
    width: 327px;
    height: 60px;
    /* border: 1px solid white; */
    margin-top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.rating-section {
    margin-top: -16px;
    margin-bottom: 8px;
    width: 327px;
    height: auto;
    max-height: 24.22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-section>div:first-child {
    width: auto;
    max-width: 166.16px;
    height: auto;
    max-height: 24.22px;
    padding: 0px 12.08px 0px 12.08px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
    background: #FFFFFF24;
}

.rating-section>div:first-child>p {
    /* border: 1px solid white;  */
    width: 133px;
    height: 14px;
    padding: 0.82px 0px 0.18px 0px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12.36px;
    text-align: left;
    color: #FAFAFA;
}

.rating-section>div:last-child {
    width: 86px;
    height: 15.99px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.rating-section>div:last-child>p {
    /* border: 1px solid white;  */
    width: 74px;
    height: 15.99px;
    padding: 0.3px 0px 0.69px 0px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: right;
    color: #F7C852;
}

.point-list {
    /* border: 1px solid white; */
    width: auto;
    max-width: 295px;
    height: auto;
    max-height: 67px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.point-list>div {
    width: 295px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.point-list p {
    width: 273px;
    height: 17px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #D2D2D2;
}