.footer-main-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 61.61px 260.5px 62.4px; */
    gap: 24px;
    isolation: isolate;
    width: 375px;
    height: 332.8px;
    background: #FFFFFF;
    overflow: hidden;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.img-top-layer {
    position: absolute;
    width: 375px;
    height: 375px;
    left: calc(50% - 375px/2);
    top: calc(50% - 375px/2 - 0.4px);
    background: #000000;
}

.img-div {
    border: 2px solid red;
    position: absolute;
    width: 510.42px;
    height: 375px;
    top: -0.43px;
    left: -67.71px;
    opacity: 0.2;
}

.img-01,
.img-02,
.img-03,
.img-04,
.img-05,
.img-06,
.img-07,
.img-08,
.img-09,
.img-10,
.img-11,
.img-12 {
    position: absolute;
    width: 125px;
    height: 125px;
}

.img-01 {
    left: 0px;
    top: 0px;
}

.img-01>img,
.img-02>img,
.img-03>img,
.img-04>img,
.img-05>img,
.img-06>img,
.img-07>img,
.img-08>img,
.img-09>img,
.img-10>img,
.img-11>img,
.img-12>img {
    object-fit: contain;
    width: 125px;
    height: 125px;
}

.img-02 {
    left: 125px;
    top: 0px;
}

.img-03 {
    left: 250px;
    top: 0px;
}

.img-04 {
    left: 375px;
    top: 0px;
}

.img-05 {
    left: 0px;
    top: 125px;
}

.img-06 {
    top: 125px;
    left: 125px;
}

.img-07 {
    top: 125px;
    left: 250px;
}

.img-08 {
    top: 125px;
    left: 375px;
}

.img-09 {
    top: 250px;
    left: 0px;
}

.img-10 {
    top: 250px;
    left: 125px;
}

.img-11 {
    top: 250px;
    left: 250px;
}

.img-12 {
    top: 250px;
    left: 375px;
}

/* img css end */

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0.79px;
    width: 195px;
    height: 90.79px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0484594);
}

.footer-apply-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.09px 43.36px 9.11px;
    width: 296.72px;
    height: 36px;
    background: linear-gradient(90.32deg, #F56563 0%, #E54988 100%);
    border-radius: 4px;
    border: 0;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FAFAFA;
}
.footer-apply-button:hover{
    cursor: pointer;
}
.social-medial-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17.35px;
    width: 186.02px;
    height: 34px;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.facebook-logo,
.twitter-logo {
    z-index: 3;
    width: 32.98px;
    height: 33px;
}